<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Allbrands>
            <version>1.6.2.0</version>
        </Magentothem_Allbrands>
    </modules>
    <frontend>
        <routers>
            <allbrands>
                <use>standard</use>
                <args>
                    <module>Magentothem_Allbrands</module>
                    <frontName>allbrands</frontName>
                </args>
            </allbrands>
        </routers>
        <layout>
            <updates>
                <allbrands>
                    <file>allbrands.xml</file>
                </allbrands>
            </updates>
        </layout>
    </frontend>
    
    <global>
        <models>
            <allbrands>
                <class>Magentothem_Allbrands_Model</class>
                <resourceModel>allbrands_mysql4</resourceModel>
            </allbrands>
            <allbrands_mysql4>
                <class>Magentothem_Allbrands_Model_Mysql4</class>
                <entities>
                    <allbrands>
                        <table>allbrands</table>
                    </allbrands>
                </entities>
            </allbrands_mysql4>
        </models>
        <resources>
            <allbrands_setup>
                <setup>
                    <module>Magentothem_Allbrands</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </allbrands_setup>
            <allbrands_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </allbrands_write>
            <allbrands_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </allbrands_read>
        </resources>
        <blocks>
            <allbrands>
                <class>Magentothem_Allbrands_Block</class>
            </allbrands>
        </blocks>
        <helpers>
            <allbrands>
                <class>Magentothem_Allbrands_Helper</class>
            </allbrands>
        </helpers>
    </global>
	<default>
		<allbrands>
			<allbrands_config>
				<enabled>1</enabled>
				<mode>latest</mode>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>0</review>
				<description>0</description>
				<qty>9</qty>
				<items>3</items>
				<width>135</width>
				<height>135</height>
			</allbrands_config>
		</allbrands>
	</default>
</config>